.container {
  width: 100%;
  height: 100%;
  padding: 0 70px;
  font-size: 13px;
}
.title {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 600;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  row-gap: 15px;
  padding: 10px 15px 15px 15px;
  padding: 20px 30px 15px 30px;
}

.input {
  width: 60%;
  height: 35px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid #65646a;
}
label {
  font-weight: 600;
}
