.container {
  margin-top: auto;

  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 8;
  color: #33333380;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.change {
  grid-row-start: 10;
}
.container span {
  border-top: 1px solid;

  margin-right: 20px;
}
.button {
  color: #33333380;
  background-color: transparent;
  border-radius: 15px;
  padding: 0 10px 0 10px;
  border: 2px solid #33333380;
  cursor: pointer;
}
